body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    padding-left: 5%;
}
.brothers-color{
    color: rgb(255, 0, 128);
}
.nij-color{
    color: chartreuse;
    background-color: rgb(247, 0, 255);
    display: inline-block;
}
.half{
    display: flex;
    margin-bottom: 100px;
}
.ab{
    width: 50%;
    padding-left: 5%;
    margin-right: 10px;
}
.ab img{
    width: 80%;
    height: 100%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(187, 255, 0),chartreuse);
    padding: 5px 20px;
    border: 5px solid chartreuse;
    border-radius: 5px;
    font-weight: 700;
    color: rgb(76, 0, 255);
}
h2{
    padding-left: 5%;
    font-size: auto;
    font-weight: 300;
}
.background-img{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.bp{
    padding-left: 5%;
}
#bt{
    margin-left: 5%;
}
#hr img{
    border: 1px solid wheat;
    border-radius: 50%;
}
.drim{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#cd{
    margin-right: 200px;
    margin-left: 10px;
}
.experienced{

}